$bg-color-navbar:orangered;
$bg-color-fff:#fff;
$bg-color-333:#333;
$bg-color-navbar-black:#000;
$text-color-white: #fff;
$text-color-orange:orangered ;
$text-color-black:#000;
$bg-button:orangered;
$bg-button-1:white;
$text-button:#000;
$bg-shape:#000;
$text-color-1:black;